<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="surname" placeholder="Surname">

        <input class="btn" type="submit">
    </form>
</body>
</html>