<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/static/vendor/validator.js"></script>

	<form method="post" action="#" id="form" novalidate>
		<input data-validate-length-range="4" required="required" type="text" id="pass" placeholder="password">
	    <input name="email" required="required" type="email" placeholder="email"/>
        <input data-validate-length-range="6" type="password" required="required" placeholder="password"/>

    </form>
</body>
</html>